a {
    cursor: pointer;
}

.brand-logo:before {
    content: "📘";
}

.brand-logo:after {
    left: 18px;
    top: 5px;
    content: "✏️";
    position: absolute;
    font-size: 18px;
}

.navbar-brand {
    padding: 6px 12px;
    border-radius: 5px;
    position: relative;
}